http_interactions:
- request:
    method: post
    uri: https://api.linkedin.com/v2/shares
    body:
      encoding: UTF-8
      string: '{"owner":"urn:li:organization:<LINKEDIN_NETWORK_ID>","text":{"text":"test
        text"},"distribution":{"linkedInDistributionTarget":{"visibleToGuest":true}},"content":{"contentEntities":[{"entity":"<MEDIA_URN>"}]}}'
    headers:
      Authorization:
      - Bearer <LINKEDIN_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - "/sharesV2/6395929323903213568?fields=owner%2Cagent%2Cactivity%2Cedited%2Ccreated%2Csubject%2CoriginalShare%2Cdistribution%3A%28linkedInDistributionTarget%29%2Ccontent%2CresharedShare%2CserviceProvider%2Cid%2ClastModified%2Ctext"
      X-Linkedin-Id:
      - '6395929323903213568'
      X-Restli-Protocol-Version:
      - 1.0.0
      X-Li-Fabric:
      - prod-ltx1
      X-Li-Pop:
      - prod-tln1
      X-Li-Proto:
      - http/1.1
      X-Li-Route-Key:
      - '"b=TB47:g=1318:u=49:i=1524908381:t=1524972041:s=AQHe-hHX5ohyvpGFQmiHRbt10dZV5IiB"'
      X-Li-Uuid:
      - vpHN3ReQKRXA8OnX/CoAAA==
    body:
      encoding: UTF-8
      string: '{"owner":"urn:li:organization:<LINKEDIN_NETWORK_ID>","activity":"urn:li:activity:6395929324385550336","edited":false,"created":{"actor":"urn:li:person:-iTIL-CVQB","time":1524908381440},"serviceProvider":"API","id":"6395929323903213568","lastModified":{"actor":"urn:li:person:ZDPOCE6Wfp","time":1524908381531},"text":{"text":"test
        text"},"distribution":{"linkedInDistributionTarget":{"visibleToGuest":true}},"content":{"contentEntities":[{"entityLocation":"https://image-store.slidesharecdn.com/cd3e2c03-ed66-495c-b98a-85bff104042b-large.png","thumbnails":[{"resolvedUrl":"https://image-store.slidesharecdn.com/cd3e2c03-ed66-495c-b98a-85bff104042b-large.png"}],"entity":"<MEDIA_URN>"}],"shareMediaCategory":"RICH"}}'
  recorded_at: Sat, 28 Apr 2018 09:39:41 GMT
recorded_with: VCR 4.0.0
